:root {
    --main-bg: #202125;
    --main-text: #d4d4d4;
}

/* Reset for consistency across browsers */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--main-bg);
    color: var(--main-text);
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 20px 0;
    gap: 30px;
}

p {
    max-width: 80ch;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.introduction-text,
.about-me-text {
    font-size: 20px;
}


#hero {
    background-color: var(--main-bg);
    background-image: linear-gradient(to bottom right, var(--main-bg), #ae6fb9);
}


header {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header-links li a {
    color: var(--main-text);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


#welcome {
    padding-top: 80px;
    padding-bottom: 140px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 60px;
}


#about-me {
    padding-top: 40px;
}


#technologies {
    padding-bottom: 40px;
}

.technologies-container ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.technology {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.icon {
    height: auto;
    width: 30px;
}


.projects-container {
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    gap: 16px;
}

.project a {
    align-self: center;
    text-decoration: none;
    color: var(--main-text);
    font-weight: bold;
}


.contact-me-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    min-height: 40px;
}


.header-links li a:hover,
.project a:hover {
    text-decoration: underline;
    color: #383838;
}

.header-links li a:focus,
.project a:focus {
    outline: 2px solid #383838;
}


@media (max-width: 1500px) {
    .header-links {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    header {
        visibility: hidden;
        padding: 0;
        width: 0;
        height: 0;
    }

    h1 {
        font-size: 55px;
    }
}

@media (min-width: 768px) {
    .technologies-container ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}