/* Reset for consistency across browsers */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 20px 5vw;
    gap: 30px;
}

p {
    max-width: 80ch;
}

h1 {
    font-size: 60px;
}

.introduction-text,
.about-me-text {
    font-size: 20px;
}


.background {
    background-color: rgb(179, 236, 250);
    background-image: url(../../imgs/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#hero {
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.wave .shape-fill {
    fill: #F4F4F4;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#welcome {
    padding-top: 80px;
    padding-bottom: 140px;
}

.welcome-container {
    max-width: 800px;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header-links li a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.technologies-container ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.technology {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.icon {
    height: auto;
    width: 30px;
}


.projects-container {
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    gap: 16px;
}

.project a {
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.contact-me-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-top: 10px;
    min-height: 40px;
}


.header-links li a:hover,
.project a:hover {
    text-decoration: underline;
    color: #383838;
}

.header-links li a:focus,
.project a:focus {
    outline: 2px solid #383838;
}


@media (max-width: 1500px) {
    .header-links {
        gap: 40px;
    }

    #hero {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }
}

@media (max-width: 768px) {
    header {
        visibility: hidden;
        padding: 0;
        width: 0;
        height: 0;
    }

    #hero {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    h1 {
        font-size: 55px;
    }
}

@media (min-width: 768px) {

    .technologies-container ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}